:root {
    --dark-blue: #06181f;
    --bright-red: #F70058;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #18303a;
    color: var(--bright-red);
}

.fortuna {
    color: var(--bright-red);
}

html {
    scroll-behavior: smooth;
}

body {
    background: #06181f!important;
    font-family: 'Work Sans', sans-serif;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.nav {
    width: 50%;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    font-size: large;
    padding: .2em .35em;
    border: 2px solid var(--bright-red);
    opacity: .3;
    transition: all ease-out 150ms;

    /* padding: .4em .7em;
    background: rgba(252, 88, 244);
    border-radius: 99999999px; */
}

/* .nav__link:hover {
    color: var(--bright-red);
    border-color: var(--bright-red);
    padding-bottom: 4.3px;
    transition: all ease-out 150ms;
} */

.nav__link:hover {
    padding: 1em;
    border-color: #fff;
    background: var(--bright-red);
    transition: all ease-out 150ms;
    opacity: 1;
    color:#fff;
}

.main-content {
    display: block;
    width: 100%;
    min-height: calc(100vh - 100px);
}

.abs-center {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.vtc-name {
    font-family: 'Dancing Script', sans-serif;
    font-size: 11rem;
    color: var(--bright-red);
    background: -webkit-linear-gradient(-90deg, var(--bright-red), #36fffd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vtc-subline {
    font-weight: 200;
    color: var(--bright-red);
    font-size: 110%;
    letter-spacing: 2px;
}

/* .fortuna-text {
    background: -webkit-linear-gradient(-90deg, var(--bright-red), #36fffd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
} */

.scroll {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroller {
    position: relative;
    width: 35px;
    height: 60px;
    border: 3px solid var(--bright-red);
    border-radius: 60px;
    opacity: .7;
    cursor: pointer;
}

.scroller::before {
    content: '';
    position: absolute;
    height: 9px;
    width: 9px;
    background-color: var(--bright-red);
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.scroller:hover::before {
    animation: scrolling 2.2s infinite;
}

.main-content-second {
    min-height: 100vh;
    background: rgb(255, 255, 255);
    padding: 6.4em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.col {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    justify-content: center;
}

.space {
    height: 100%;
    width: 150px;
}

.card-title {
    font-size: 190%;
    text-transform: uppercase;
}

.card-intro {
    font-size: 120%;
}

.cut {
    border: 0;
    border-top: 2px solid #222;
    width: 356px;
    margin: 70px auto;
}



@keyframes scrolling {
    0% {top: 9px; opacity: 1;}
    100% {top: 43px; opacity: 0;}
}